---
import { fetchIssue, fetchIssues } from "../utils/fetch";

import Layout from "./__layout.astro";
import Markdown from "../components/Markdown.astro";

interface Props {
  title: string;
  issueNumber: number;
}

export function getStaticPaths() {
  return fetchIssues();
}

const { title, issueNumber } = Astro.props;

const data = await fetchIssue(issueNumber);
---

<Layout title={title}>
  <h1>
    <mark>#{issueNumber}</mark>
    {title}
  </h1>
  <Markdown markdown={data.body} />
</Layout>
