---
interface Props {
  title?: string;
}

import config from "../../astro.config.mjs";

const { title } = Astro.props;
const formatted_title = title ? title + " — GitHub Issues CMS" : "GitHub Issues CMS";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{formatted_title}</title>

    <slot name="head" />
  </head>
  <body>
    <main>
      <nav style="margin-bottom:0">
        GitHub Issues CMS
        <ul>
          <li>
            <a href={`${config.base}/`}>Home</a>
          </li>
        </ul>
      </nav>
      <slot />
    </main>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
  </body>
</html>
