---
import Layout from "./__layout.astro";
import { fetchIssues } from "../utils/fetch";

const issuesList = await fetchIssues();
---

<Layout>
  <h1>Articles</h1>
  <ul>
    {
      issuesList.map((e) => (
        <li>
          <a href={e.params.slug}>
            <mark>#{e.props.issueNumber}</mark> {e.props.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
